<a href="https://colab.research.google.com/github/kpaulfran/MedianAgeFirstMarriage/blob/main/practiceml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preprocesamiento de Datos

In [ ]:
#Se llaman a todas las librerias necesarias

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('/content/insurance.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
y = df['charges']
X = df.drop(columns = 'charges')

In [ ]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [ ]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [ ]:
X_train, X_test, y_train,  y_test = train_test_split(X,y, random_state = 42, test_size=0.2)

In [ ]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070 entries, 560 to 1126
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1070 non-null   int64
 1   sex       1070 non-null   object
 2   bmi       1070 non-null   float64
 3   children  1070 non-null   int64
 4   smoker    1070 non-null   object
 5   region    1070 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 58.5+ KB

Datos:

- Age: Numero Entero
- Sex: Texto
- BMI: float
- Children: Entero
- Smoker: Texto
- Region: Texto

In [ ]:
X_train['sex'].unique()

array(['female', 'male'], dtype=object)

In [ ]:
X_train['sex'].replace({'female': 0, 'male': 1}, inplace = True)
X_train['sex'].unique()

array([0, 1])

In [ ]:
X_test['sex'].replace({'female': 0, 'male': 1}, inplace = True)

In [ ]:
X_train['smoker'].unique()

array(['no', 'yes'], dtype=object)

In [ ]:
X_train['smoker'].replace({'yes': 1, 'no': 0}, inplace = True)
X_test['smoker'].replace({'yes': 1, 'no': 0}, inplace = True)
X_train['smoker'].unique()

array([0, 1])

In [ ]:
X_train['region'].unique()

array(['northwest', 'northeast', 'southeast', 'southwest'], dtype=object)

In [ ]:
cat_selector = make_column_selector(dtype_include='object')

In [ ]:
cat_selector(X_train)

['region']

In [ ]:
train_cat_data = X_train[cat_selector(X_train)]
test_cat_data = X_test[cat_selector(X_test)]
train_cat_data

         region
560   northwest
1285  northeast
1142  southeast
969   southeast
486   northwest
...         ...
1095  northeast
1130  southeast
1294  northeast
860   southwest
1126  southwest

[1070 rows x 1 columns]

In [ ]:
ohe_encoder = OneHotEncoder(sparse=False, handle_unknown='ignore')

ohe_encoder.fit(train_cat_data)

train_ohe = ohe_encoder.transform(train_cat_data)
test_ohe = ohe_encoder.transform(test_cat_data)
train_ohe

array([[0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       ...,
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.]])

In [ ]:
#Convertir a DataFrame

ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_data.columns)
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)
train_ohe

      region_northeast  region_northwest  region_southeast  region_southwest
0                  0.0               1.0               0.0               0.0
1                  1.0               0.0               0.0               0.0
2                  0.0               0.0               1.0               0.0
3                  0.0               0.0               1.0               0.0
4                  0.0               1.0               0.0               0.0
...                ...               ...               ...               ...
1065               1.0               0.0               0.0               0.0
1066               0.0               0.0               1.0               0.0
1067               1.0               0.0               0.0               0.0
1068               0.0               0.0               0.0               1.0
1069               0.0               0.0               0.0               1.0

[1070 rows x 4 columns]

In [ ]:
num_selector = make_column_selector(dtype_include='number')

train_nums = X_train[num_selector(X_train)].reset_index(drop=True)
test_nums = X_test[num_selector(X_test)].reset_index(drop=True)

In [ ]:
scaler = StandardScaler()
scaler.fit(train_nums)

train_scaled = scaler.transform(train_nums)

test_scaled = scaler.transform(test_nums)

train_scaled[:5]

array([[ 0.47222651, -1.0246016 , -1.75652513,  0.73433626, -0.50874702],
       [ 0.54331294, -1.0246016 , -1.03308239, -0.91119211, -0.50874702],
       [ 0.8987451 , -1.0246016 , -0.94368672, -0.91119211, -0.50874702],
       [-0.02537852, -1.0246016 ,  0.62239299,  3.20262882, -0.50874702],
       [ 1.04091797, -1.0246016 , -1.50489287,  1.55710045, -0.50874702]])

In [ ]:
X_train_scaled = pd.DataFrame(train_scaled, columns=train_nums.columns)
X_train_scaled.head()

        age       sex       bmi  children    smoker
0  0.472227 -1.024602 -1.756525  0.734336 -0.508747
1  0.543313 -1.024602 -1.033082 -0.911192 -0.508747
2  0.898745 -1.024602 -0.943687 -0.911192 -0.508747
3 -0.025379 -1.024602  0.622393  3.202629 -0.508747
4  1.040918 -1.024602 -1.504893  1.557100 -0.508747

In [ ]:
X_test_scaled = pd.DataFrame(test_scaled, columns=test_nums.columns)
X_test_scaled.head()

        age       sex       bmi  children    smoker
0  0.401140 -1.024602 -0.891539  0.734336 -0.508747
1 -0.238638 -1.024602 -0.089461 -0.911192 -0.508747
2  1.751782 -1.024602 -0.608453 -0.911192  1.965613
3  0.472227  0.975989 -0.797177  1.557100 -0.508747
4 -1.447107  0.975989  0.225079 -0.911192  1.965613

In [ ]:
X_train_processed = pd.concat([X_train_scaled, train_ohe], axis=1)
X_test_processed = pd.concat([X_test_scaled, test_ohe], axis=1)
X_train_processed

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
0,0.472227,-1.024602,-1.756525,0.734336,-0.508747,0.0,1.0,0.0,0.0
1,0.543313,-1.024602,-1.033082,-0.911192,-0.508747,1.0,0.0,0.0,0.0
2,0.898745,-1.024602,-0.943687,-0.911192,-0.508747,0.0,0.0,1.0,0.0
3,-0.025379,-1.024602,0.622393,3.202629,-0.508747,0.0,0.0,1.0,0.0
4,1.040918,-1.024602,-1.504893,1.557100,-0.508747,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
1065,-1.518194,-1.024602,0.130717,2.379865,-0.508747,1.0,0.0,0.0,0.0
1066,-0.025379,-1.024602,-1.107579,3.202629,-0.508747,0.0,0.0,1.0,0.0
1067,1.325264,0.975989,-0.891539,-0.911192,-0.508747,1.0,0.0,0.0,0.0
1068,-0.167551,-1.024602,2.820864,0.734336,1.965613,0.0,0.0,0.0,1.0
1069,1.112004,0.975989,-0.109327,-0.911192,-0.508747,0.0,0.0,0.0,1.0

In [ ]:
X_train_processed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1070 non-null   float64
 1   sex               1070 non-null   float64
 2   bmi               1070 non-null   float64
 3   children          1070 non-null   float64
 4   smoker            1070 non-null   float64
 5   region_northeast  1070 non-null   float64
 6   region_northwest  1070 non-null   float64
 7   region_southeast  1070 non-null   float64
 8   region_southwest  1070 non-null   float64
dtypes: float64(9)
memory usage: 75.4 KB